
## HW1. Змінні та основні типи даних в Python

**1. Створення змінних**

Створіть змінні для особистої інформації (кожен пункт оцінюється в 0.5 бала):
- `name` - ваше ім'я (рядок)
- `age` - ваш вік (ціле число)
- `height` - ваш зріст в метрах (дробове число)
- `is_student` - чи є ви студентом (True/False)

Виведіть кожну з цих змінних за допомогою функції `print()`.

In [2]:
name = 'Tetiana'
age = 24
height = 1.76
is_student = False

print("Name:", name)
print("Age:", age)  
print("Height:", height)
print("Is Student:", is_student)

Name: Tetiana
Age: 24
Height: 1.76
Is Student: False


---

**2. Арифметичні операції**

Створіть дві змінні: `var1` зі значенням 15, `var2` зі значенням 4.

Обчисліть та виведіть (кожен пункт оцінюється в 0.5 бала):
- Суму
- Різницю
- Добуток
- Ділення
- Цілочисельне ділення
- Залишок від ділення
- Піднесення до степеня

In [3]:
var1 = 15
var2 = 4

In [4]:
print("Addition:", var1 + var2)
print("Subtraction:", var1 - var2)
print("Multiplication:", var1 * var2)
print("Division:", var1 / var2)
print("Integer Division:", var1 // var2)
print("Modulus:", var1 % var2)
print("Exponentiation:", var1 ** var2)

Addition: 19
Subtraction: 11
Multiplication: 60
Division: 3.75
Integer Division: 3
Modulus: 3
Exponentiation: 50625


---

**3. Робота з рядками**

Створіть зміну `last_name`, яка містять ваше прізвище.

Виконайте (кожен пункт оцінюється в 0.5 бала):
- Об'єднайте значення змінних `name` та `last_name` через пробіл в один рядок і збережіть в нову змінну `full_name`
- Виведіть `full_name` великими літерами
- Виведіть `full_name` малими літерами
- Виведіть довжину `full_name`
- Виведіть фразу: "Мене звати [ім'я], мені [вік] років". Вік використайте зі змінної, створеної у вправі 1.

In [5]:
last_name = 'Yatsiuk'

In [9]:
full_name = name + '\n' + last_name
print(full_name.upper()+'\n')
print(full_name.lower()+'\n')
print(len(full_name))
print(f"\nMy name is {name}, I'm {age} years old")

TETIANA
YATSIUK

tetiana
yatsiuk

15

My name is Tetiana, I'm 24 years old